{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        },
        "useBuiltIns": "entry",
        "corejs": "2.0.0"
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@": "./src"
        }
      }
    ],
    "@babel/plugin-proposal-class-properties"
  ]
}
